@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --blue: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
p {
  font-size: 15px;
}
body {
  line-height: 1;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo {
  width: 60px;
  padding: 10px;
}

.nav-item {
  margin-left: 1rem;
}
.nav-item a {
  font-size: 15px;
  color: var(--dark-grayish-blue);
  font-weight: 500;
}

.nav-item a:hover {
  color: var(--soft-orange);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 1rem auto;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.hero {
  max-width: 75rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto repeat(1, 5rem) auto;
  column-gap: 1rem;
  row-gap: 2.5rem;
}
.container-main {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.main-img img {
  width: 100%;
  height: auto;
}
.container-main-headlines {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 30px;
  width: 100%;
}

.container-main-headlines-text {
  font-size: 40px;
  line-height: 1;
  width: 100%;
  height: auto;
}

.headline-description-text {
  font-size: 20px;
  color: var(--dark-grayish-blue);
}

.btn {
  background-color: var(--soft-red);
  color: var(--off-white);
  text-transform: uppercase;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
}

.btn:hover {
  background-color: var(--very-dark-blue);
}
.card {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: stretch;
  padding: 0 14px;
  font-size: 14px;
  background: var(--very-dark-blue);
}
.card-column {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--off-white);
  text-align: justify;
  overflow: auto;
}

.card-column:nth-child(3) {
  border-bottom: none;
}

.card-value {
  padding: 15px 0;
}
.card-value-new {
  font-size: 30px;
  color: var(--soft-orange);
}

.card-value a {
  color: var(--off-white);
  cursor: pointer;
  padding: 10px 0;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}
.card-value a:hover {
  color: var(--soft-orange);
}
.card-value p {
  color: var(--off-white);
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-size: 15px;
  padding: 10px 0;
}

.bottom-cards {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  column-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
}
.bottom-cards-row {
  display: flex;
  flex-direction: row;
}
.bottom-cards-row-img {
  max-height: 120px;
}
.bottom-cards-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 15px;
  margin-top: -5px;
}
.bottom-cards-news-number {
  font-size: 22px;
  color: var(--grayish-blue);
  line-height: 1.5;
  font-weight: 900;
}
.bottom-cards-news-title {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
  cursor: pointer;
}
.bottom-cards-news-title:hover {
  color: var(--soft-red);
}
.bottom-cards-news-desc {
  font-size: 14px;
  color: var(--dark-grayish-blue);
}
@media (max-width: 768px) {
  .hero {
    width: 22rem;
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .container-main-headlines {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-main-headline-description {
    width: 100%;
    display: flex;
  }

  .container-main .headline-description-text {
    width: 100%;
  }
  .container-main {
    max-width: 100%;
    height: auto;
    margin: 1rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .card {
    max-width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .bottom-cards {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bottom-cards-row {
    margin-bottom: 20px;
  }
}
